<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Brewery style</title>
    <link rel="stylesheet" href="style.css">
     
</head>

<body id="body">
<div id="app">
    <div class="header">
        <h1>Connect to breweries</h1>
    </div>

    <header class="topnav">
        <a class="menu-item" href="#">Home</a>
        <a class="menu-item" href="#" @click="showList()">My List ({{list.length}}) </a>
       
    </header>

    <div id="addbeerlist">      
        <form class="addbeer">
            Brewery: <input type="text" name="brewery"  v-model="brewery" value="">
            Name: <input type="text" name="name"  v-model="name" value="">
            Color: <input type="text" name="color" v-model="color" value="">
            Alcool: <input type="number" name="alcool" v-model="alcool" value="">
            Quantity: <input type="number" name="quantity" v-model="quantity" value="">
            Price: <input type="text" name="price" v-model="price" value="">
            <button class="button" type="button" @click="addToList()">Add to list</button>
              
        </form>
    </div>

    <div v-if="displayList" id="list" style="z-index: 10;">
        <span style="color: white;width: 5%;">My List</span>
        <span id="closeList" @click="closeList()">X</span>
        
        <div id="beerList">
            <div class="flex" v-for="b in list" style="justify-content: space-between;">
                <div class="beer flex" style="justify-content: space-between; margin: 10px;width: 80%">
                    <span style="width: calc(60% - 10px); margin-left: 10px">Brewery: </span>
                    <span style="width: 40%">{{b.brewery}}</span>
                    <br>

                    <span style="width: calc(60% - 10px); margin-left: 10px">Name: </span>
                    <span style="width: 40%">{{b.name}}</span>
                    <br>

                    <span style="width: calc(60% - 10px); margin-left: 10px">Color: </span>
                    <span style="width: 40%">{{b.color}}</span>
                    <br>

                    <span style="width: calc(60% - 10px); margin-left: 10px">Alcool: </span>
                    <span style="width: 40%">{{b.alcool}}</span>
                    <br>

                    <span style="width: calc(60% - 10px); margin-left: 10px">Quantity: </span>
                    <span style="width: 40%">{{b.quantity}}</span>
                    <br>

                    <span style="width: calc(60% - 10px); margin-left: 10px">Price: </span>
                    <span style="width: 40%">{{b.price}}</span>
                    <br>
                </div>
                <button type="button" @click="removeToList(b)" style="border-radius: 20px;margin-right: 5%">Remove from list</button>
            </div>
        </div>
        <button type="button" @click="sendTheList()" style="position: absolute;bottom: 5%;right: 5%;">Send the List</button>
            
    </div>  
    
    </div>
    <table id="updateOrder">
        <tr>
            <th>Product</th>
            <th>How much left</th>
        </tr>
        <tr>
            <td>Beer 1</td>
            <td>5 bottles</td>
        </tr>
        <tr>
            <td>Beer 2</td>
            <td>6 bottles</td>
        </tr>
        <tr>
            <td>Beer 3</td>
            <td>17 bottles</td>
        </tr>
        <tr>
            <td>Beer 4</td>
            <td>20 bottles</td>
        </tr>
    </table>
</div>  
<script>

</script>
<script type="text/javascript" src="vue.js"></script>
<script>
     Vue.createApp({
       data(){
               return{
                   breweries:[],
                   
                   beers:[], // Stock all beers
                   currentBeerList: "",
                

                   list:[],
                   displayList: false,
                   
                   brewery:"",
                   name:"",
                   color:"",
                   alcool:"",
                   price:"",
                   quantity:"",

                   serverUrl: "http://127.0.0.1:8080"
                
               }
       },
       comuted:{},
       methods:{
        showList(){
               this.displayList = true;
        },
        closeList(){
               this.displayList = false;
        },
        addToList(){
            
            this.list.push({
                brewery: this.brewery,
                name: this.name,
                color: this.color,
                alcool: this.alcool,
                price: this.price,
                quantity:this.quantity,
            });
            
            this.brewery="",
            this.name="",
            this.color="",
            this.alcool="",
            this.price ="",
            this.quantity = "",

            this.displayList = false;
        },
        removeToList(bToRemove){
            console.log(this.list);
            console.log(bToRemove)
            this.list = this.list.filter(b => b != bToRemove);
        
        },
        sendTheList(){
           var payload = JSON.stringify(this.list);
           var xhr = new XMLHttpRequest();
           var list = this.list;
           var dl = this.displayList;
           xhr.open("POST",  this.serverUrl+"/add", false );

           xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

           xhr.onreadystatechange = function(){
               console.log(this.status);
               if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                   document.getElementById("closeList").click();
                   alert("Your list has been successfully send")
               }
           }
           xhr.send(payload);
        }
    },
  
   
}).mount('#app')
       
</script>   
</body>
</html>
